body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(14, 70, 122), rgb(0, 9, 36));
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px;
    border-radius: 10px;
    width: 70%;
}

fieldset {
    border : 2px solid rgb(14, 70, 122);
}

legend {
    border: 1px solid rgb(14, 70, 122) ;
    padding: 8px;
    text-align: center;
    background-color: rgb(53, 132, 197) ;
    border-radius: 10px;
    color: white;
    font-style: italic;
    

}

.inputBox {
    position: relative;
    outline: none;
    color: white;
    font-size: 15px; 

}

.inputUser {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;

}

.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
    top: -19px;
    font-size: 11px;
    color: rgb(0, 255, 234);

}
#botao {
background-color: rgb(39, 40, 44);
width: 100%;
color: white;
font-style: oblique;
font-size: 14px;
}